body,
html {
    min-height: 100%;
} 

body {
    background-color: #846851;
}

.top-header {
    width: 100%;
    max-width: 960px;
    font: 4em "Amatic SC", cursive;
    color: #fffdd0;
    text-shadow:1px 1px 0 rgba(0,0,0,.2);
    margin: 40px auto;
    text-align: center; 
    text-shadow: 1px 1px 1px #000
}

* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #0005;
    opacity: 0.4;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin-left: 20px;
    margin-top: 11px;
}

nav .links{
    float: right;
    margin-right: 30px;
    list-style-type: none;
    transition: 0.8s all;
}

nav .links a:hover{
    background-color: #f39d1a
}

nav .links a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}

form {
display: flex;
justify-content: flex-start;
/* align-items: center; */
height: 100vh;
width: 100vw;
flex-direction: column;
margin-top: 20px;
margin-left: 250px;
padding: 10px 60px;
}

form input {
    width: 55%;
    height: 5%;
}

form textarea {
    width: 55%;
    height: 40%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-align: center;
    padding: 0px;
    display:flex;
    justify-content: flex-start;
}

.footer h3 {
    text-align: right;
}

.footer logo {
    display: inline;
    justify-content: flex-start;
}

label {
    margin: 10px;
}

#submit-button {
    width: 80px;
    height: 60px
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555; 
}
